* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Playpen Sans', cursive;
}
.container_foto_kelas, .krs, .foto_dosen, .pilihan_menu:hover, nav, .container_info, .data_mahasiswa li, .foto_mahasiswa{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
    font-style: italic;
    background-color: rgba(184, 153, 113, 0.6);
    height: 15rem;
}
#creator {
    font-weight: lighter;
    font-size: smaller;
    margin-left: 5px;
    color: #634c3b;
}
nav {
    display: flex;
    justify-content: start;
    line-height: 50px;
    position: sticky;
    background-color: #7e593e;
    font-weight: 500;
    top: 0;
    z-index: 99;
}

header h1 {
    font-size: 3em;
    margin-top: 20px;
    padding-top: 3%;
    padding-left: 5%;
    color: rgb(88, 57, 34);
}

.pilihan_menu {
    display: inline-block;
    color: #FEECC7;
    transition: all .1s;
    position: relative;
    width: 100px;
    text-align: center;
}
.pilihan_menu:hover {
    background-color: bisque;
    color: rgb(88, 57, 34);
    cursor:pointer;
    transition: all 0.02;

}
.pilihan_menu:active {
    background-color: #9F755A;
    color: bisque;
    transition: all .02s;
}

.pilihan_menu_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 100px;
}
  
.pilihan_menu_content a {
    display: block;
    text-wrap: nowrap;
    color: #FEECC7;
    background-color: #7e593e;
    text-decoration: none;
    padding: 5px;
}

.pilihan_menu:hover .pilihan_menu_content {
    display: block;
    position: absolute;
    left: 0;
    width: auto;
    height: 300px;
    overflow-y: scroll;
}
.pilihan_menu a:hover {
    background-color: bisque;
}


::-webkit-scrollbar {
    width: 9px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
    background: rgba(0, 0, 0, 0.6);
}
  




body{
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.267);
    background-image: url("Image/Foto_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container_krs, .container_info {
    background-color: navajowhite;
    width: 90%;
    margin: auto;
    padding: 1%;
    border-radius: 3%;
    margin-bottom: 7%;
}

.container_profile {
    margin: auto;
    width: 70%;
    background-color: #976f52;
    color: #2c2823;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}


.profile_mahasiswa {
    display: flex;
    margin: 10px;
}
.data_mahasiswa {
    padding: 0;
    list-style-type: none;
}
.data_mahasiswa li {
    margin: 10px;
    background-color: #FEECC7;
    border-radius: 4px;
    padding: 8px 18px;
    pointer-events: none;
}

.container_foto_mahasiswa {
    text-align: center;
    margin: auto;
}

.foto_mahasiswa {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #584736;
}
a:hover {
    color: #292222;
}


.container_krs {
    padding: 2%;
    overflow: auto;
}
.container_info {
    background-color: #976f52;
    color: #2c2823;
    display: flex;
}
.container_info h2 {
    margin-bottom: 15%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.363);
}
.foto_dosen {
    margin-top: 25%;
}


.krs {
    background-color: bisque;
    width: 95%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
} 
table {
    border-collapse: collapse;
    margin: auto;
    color: #584736;
    font-weight: 500;
}

.thmatkul {
    width: 40%;
}
.tdmatkul {
    text-align: left;
    padding-left: 1%;
}

th {
    height: 2rem;
}

#box_kiri_info {
    padding: 2%;
}
#box_kanan_info {
    text-align: center;
    margin: auto;
}

.container_foto_dosen {
    text-align: center;
    margin: auto;
}
.container_foto_kelas {
    text-align: center;
    margin: 3%;
    background-color: #FEECC7;
    padding: 1%;
}
.foto_dosen {
    width: 17vw;
    height: 17vw;
    object-fit: cover;
}
.foto_kelas {
    max-width: 80%;
    height: auto;
}

footer {
    width: 100%;
    height: 250px;
    background-color: #7e593e;
    box-shadow: 0 0 10px 0 black;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:10px;
  }
  
.footer-basic .social > a {
    font-size:24px;
    width:50px;
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid bisque;
    margin:13px 8px;
    color:inherit;
    opacity:0.75;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
}
  
.footer-basic .copyright {
    text-align:center;
    font-size:13px;
    color: bisque;
    margin-bottom:0;
}


@media only screen and (max-width: 742px) {

    .pilihan_menu {
        margin: auto;
    }
    .pilihan_menu:hover .pilihan_menu_content {
        transform: translate(-50%, 0px);
    }

    .container_info, .profile_mahasiswa {
        flex-direction: column;
    }

    .container_info h2 {
        margin-bottom: 5%;
    }
    .container_info p {
        margin-bottom: 2%;
    }

    .foto_mahasiswa {
        margin-top: 15px;
        width: 180px;
        height: 180px;
    }
    .foto_dosen {
        margin-top: 15px;
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 360px) {
    .foto_dosen {
        width: 140px;
        height: 140px;
    }
    .foto_mahasiswa {
        width: 140px;
        height: 140px;
    }
}
