* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Playpen Sans', cursive;
}
.container_foto_kelas, .krs, .foto_dosen, nav, .container_info{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
    font-style: italic;
    background-color: rgba(210, 180, 140, 0.6);
    height: 15rem;
}
#creator {
    font-weight: lighter;
    font-size: smaller;
    margin-left: 5px;
    color: rgb(207, 172, 125);
}
nav {
    position: sticky;
    display: flex;
    justify-content: start;
    background-color: #7e593e;
    font-weight: 500;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    font-size: 3em;
    margin-top: 20px;
    padding-top: 3%;
    padding-left: 5%;
    color: rgb(88, 57, 34);
}

.pilihan_menu {
    display: flex;
    justify-content: center;
    width: 125px;
    height: 50px;
    align-items: center;
    color: #FEECC7;
    transition: all .1s;
}
.pilihan_menu:hover {
    background-color: bisque;
    color: rgb(88, 57, 34);
    cursor:pointer;
    transition: all 0.02;
}
.pilihan_menu:active {
    background-color: #9F755A;
    color: bisque;
    transition: all .02s;
}

body{
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.267);
    background-image: url("Image/Foto_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 400px;
    max-width: 100%;
    background-color: #976f52;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #2c2823;
}
.home img {
    width: 100px;
    height: 100px;
}


a {
    text-decoration: none;
    color: #584736;
}
a:hover {
    color: #292222;
}

.container_krs, .container_info{
    background-color: navajowhite;
    width: 90%;
    margin: auto;
    padding: 1%;
    border-radius: 3%;
    margin-bottom: 7%;
}
.container_krs {
    padding: 2%;
    overflow: auto;
}
.container_info {
    background-color: #976f52;
    color: #2c2823;
    display: flex;
    justify-content: space-between;
}
.container_info h2 {
    margin-bottom: 15%;
}
.container_info p {
    margin-bottom: 5%;
}


.krs {
    background-color: bisque;
    width: 95%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
} 
table {
    border-collapse: collapse;
    margin: auto;
    color: #584736;
    font-weight: 500;
}

.thmatkul {
    width: 40%;
}
.tdmatkul {
    text-align: left;
    padding-left: 1%;
}

th {
    height: 2rem;
}

#box_kiri_info {
    padding: 2%;
}
#box_kanan_info {
    text-align: center;
    margin: auto;
}

.mata_kuliah {
    margin: auto;
}
.container_foto_dosen {
    text-align: center;
    margin: auto;
}
.container_foto_kelas {
    text-align: center;
    margin: 3%;
    background-color: #FEECC7;
    padding: 1%;
}
.foto_dosen {
    width: 17vw;
    height: 17vw;
    object-fit: cover;
}
.foto_kelas {
    max-width: 80%;
    height: auto;
}

footer {
    width: 100%;
    height: 500px;
    background-color: #7e593e;
    box-shadow: 0 0 10px 0 black;
}

@media only screen and (max-width: 742px) {

    .pilihan_menu {
        margin: auto;
    }

    .container_info {
        flex-direction: column;
    }

    .container_info h2 {
        margin-bottom: 5%;
    }
    .container_info p {
        margin-bottom: 2%;
    }

    .foto_dosen {
        width: 180px;
        height: 180px;
    }
}
@media only screen and (max-width: 360px) {
    .foto_dosen {
        width: 140px;
        height: 140px;
    }
}